.item-list .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 38rem);
  /* grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); */
  justify-content: center;
  align-items: flex-start;
  gap: 5.5rem;

  padding: 2em;
  margin-bottom: 15rem;
  margin-top: -9.3rem;
}

.item-list .box-container .box {
  border: var(--border);
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.item-list .box-container .box img {
  margin: 1rem 0;
  height: 25rem;
  width: 30rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  border-radius: 1px;
  border: var(--border);
}

.item-list .box-container .box .fa-eye,
.item-list .box-container .box .fa-shopping-cart {
  position: absolute;
  top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.3rem;
  border: var(--border);
  background-color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  color: var(--black);
  transition: 0.2s linear;
  text-align: center;
}

.item-list .box-container .box .fa-eye:hover,
.item-list .box-container .box .fa-shopping-cart:hover {
  background-color: var(--black);
  color: var(--white);
}

.item-list .box-container .box .fa-eye {
  left: -10rem;
}

.item-list .box-container .box .fa-shopping-cart {
  right: -10rem;
}

.item-list .box-container .box:hover .fa-eye {
  left: 1rem;
}

.item-list .box-container .box:hover .fa-shopping-cart {
  right: 1rem;
}

.item-list .box-container .box .cat {
  font-size: 1.8rem;
  color: var(--light-color);
}

.item-list .box-container .box .cat:hover {
  color: var(--black);
  text-decoration: underline;
}

.item-list .box-container .box .name {
  font-size: 2rem;
  color: var(--black);
  margin: 1rem 0;
}

.item-list .box-container .box .flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.item-list .box-container .box .flex .price {
  margin-right: auto;
  font-size: 2.5rem;
  color: var(--black);
}

.item-list .box-container .box .flex .price span {
  color: var(--light-color);
  font-size: 1.8rem;
}

.item-list .box-container .box .flex .qty {
  padding: 1rem;
  border: var(--border);
  font-size: 1.8rem;
  color: var(--black);
}

.item-list .box-container .box .flex .fa-edit {
  width: 5rem;
  background-color: var(--yellow);
  color: var(--black);
  cursor: pointer;
  font-size: 1.8rem;
  height: 4.5rem;
  border: var(--border);
}

.item-list .box-container .box .flex .fa-edit:hover {
  background-color: var(--black);
  color: var(--white);
}

.item-list .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--red);
  color: var(--white);
  border: var(--border);
  line-height: 4rem;
  height: 4.3rem;
  width: 4.5rem;
  cursor: pointer;
  font-size: 2rem;
}

.item-list .box-container .box .fa-times:hover {
  background-color: var(--black);
  color: var(--white);
}

.item-list .box-container .box .sub-total {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--light-color);
}

.item-list .box-container .box .sub-total span {
  color: var(--red);
}

.item-list .more-btn {
  margin-top: 1rem;
  text-align: center;
}

.item-list .cart-total {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  border: var(--border);
  padding: 1rem;
}

.item-list .cart-total p {
  font-size: 2.5rem;
  color: var(--light-color);
}

.item-list .cart-total p span {
  color: var(--red);
}

.item-list .cart-total .btn {
  margin-top: 0;
}
  
   /*  kl .cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
    
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  } kl */