@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import "http://fonts.googleapis.com/css?family=Raleway";

:root {
  /* --green:#27ae60; */
  --maincolor: #022e51;
 --bottoncolor: #02023a;


  --green: #01136c;
  --dark-color: #219150;
  /* --black:#444; */
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  /* --box-shadow:0 .5rem 1rem rgba(0,0,0,.1); */
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
  --border-image: rgb(97, 97, 97);
  --yellow: #fed330;
  --red: #e74c3c;
  --white: #fff;
  --light-color: #777;
  --border: 0.2rem solid var(--black);
  --color-first: #446ead;
  --color-second: #02023a;
  --color-third: #d8d8d8;
  --color-fourth: #f3f8ec;
  --color-white: #fff;
  /* Font Size */
  --text-large: 50px;
  --text-medium: 40px;
  --text-small: 15px;
  --text-regular: 13px;
  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  /* Box Shadow */
  --box-shadow-main: 0px 15px 30px rgba(26, 37, 14, 0.1);
  /* Border radius */
  --border-radius: 5px;
  /* transition */
  --animate: all 0.3s ease-in-out;
}

.images {
  width: 25rem;
  margin-left: 5rem;
}
.image-box .images{
margin: 1rem 0;
height: 25rem;
width: 30rem;
margin-bottom: 1rem;
margin-left: 2.5rem;
border-radius: 1px;
border: var(--border);
width: 26rem;
margin-left: 10rem;
margin-top:3rem;
}
* {
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}

span {
    color: rgb(155, 0, 0);
    font-weight: 700;
  }
  
  .item-list .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 38rem);
    justify-content: center;
    align-items: flex-start;
    gap: 5.5rem;
    padding: 2em;
    margin-bottom: 15rem;
    margin-top: -9.3rem;
  }
  

  .button{
    position: relative;
    display: inline-block;
    width: auto;
    padding: 12px 30px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-first);
    color: var(--color-white);
    border-radius: var(--border-radius);
    letter-spacing: 1.1px;
    box-shadow: 0px 15px 40px rgba(170, 170, 170, 0.4);
    transition: var(--animate);
    text-align: center;
    text-transform: capitalize;
    border: 1px solid var(--color-first);
    cursor: pointer;
    margin: auto auto;
  }

  .cur{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.3rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);
    transition: 0.2s linear;
    text-align: center;
    
  }
  .item-list .box-container .box {
    border: var(--border);
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
    background: #fff;
  }
  
  .item-list .box-container .box img {
    margin: 1rem 0;
    height: 25rem;
    width: 30rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    border-radius: 1px;
    border: var(--border);
  }

 
  .item-list .box-container .box .fa-eye,
  .item-list .box-container .box .fa-shopping-cart {
    position: absolute;
    top: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.3rem;
    border: var(--border);
    background-color: var(--white);
    cursor: pointer;
    font-size: 2rem;
    color: var(--black);
    transition: 0.2s linear;
    text-align: center;
  }
  
  /* .item-list .box-container .box .fa-eye:hover,
  .item-list .box-container .box .fa-shopping-cart:hover {
    background-color: var(--black);
    color: var(--white);
  } */
  
  .item-list .box-container .box .fa-eye {
    left: -10rem;
  }
  
  .item-list .box-container .box .fa-shopping-cart {
    right: -10rem;
  }
  
  .item-list .box-container .box:hover .fa-eye {
    left: 1rem;
  }
  
  .item-list .box-container .box:hover .fa-shopping-cart {
    right: 1rem;
  }
  
  .item-list .box-container .box .cat {
    font-size: 1.8rem;
    color: var(--light-color);
  }
  
  .item-list .box-container .box .cat:hover {
    color: var(--black);
    text-decoration: underline;
  }
  
  .item-list .box-container .box .name {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
  }
  
  .item-list .box-container .box .flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .item-list .box-container .box .flex .price {
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--black);
  }
  
  .item-list .box-container .box .flex .price span {
    color: var(--light-color);
    font-size: 1.8rem;
  }
  
  .item-list .box-container .box .flex .qty {
    padding: 1rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--black);
  }
  
  .item-list .box-container .box .flex .fa-edit {
    width: 5rem;
    background-color: var(--yellow);
    color: var(--black);
    cursor: pointer;
    font-size: 1.8rem;
    height: 4.5rem;
    border: var(--border);
  }
  
  .item-list .box-container .box .flex .fa-edit:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .item-list .box-container .box .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--red);
    color: var(--white);
    border: var(--border);
    line-height: 4rem;
    height: 4.3rem;
    width: 4.5rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .item-list .box-container .box .fa-times:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .item-list .box-container .box .sub-total {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--light-color);
  }
  
  .item-list .box-container .box .sub-total span {
    color: var(--red);
  }
  
  .item-list .more-btn {
    margin-top: 1rem;
    text-align: center;
  }
/*   
  .item-list .cart-total {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    border: var(--border);
    padding: 1rem;
  }
  
  .item-list .cart-total p {
    font-size: 2.5rem;
    color: var(--light-color);
  }
  
  .item-list .cart-total p span {
    color: var(--red);
  }
  
  .item-list .cart-total .btn {
    margin-top: 0;
  } */
  
  .container {
    max-width: 1170px;
    margin: auto;
    margin-top: 5rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  /* ul {
    list-style: none;
  } */
  .word{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }