.cart_listing_whole{
    margin-top:3rem;
  }
  .cart_listing{
    width: 120vh;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 1%;
    margin-top: 1%;
    overflow-y: scroll;
  
  }


@media (max-width: 1240px) {
  .cart_listing_whole{
    margin-top:3rem;
  }
  .cart_listing{
    width: 120vh;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: -1;
    margin-top: 1%;
    overflow-y: scroll;
  
  }

}
@media (max-width: 1150px) {
  .cart_listing_whole{
    margin-top:3rem;
  }
  .cart_listing{
    width: 120vh;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: -1;
    margin-top: 1%;
    overflow-y: scroll;
  
  }

}
@media (max-width: 700px) {
  .cart_listing_whole{
    margin-top:3rem;
  }
  .cart_listing{
    width: 120vh;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: -1;
    margin-top: 1%;
    overflow-y: scroll;
    max-width: 70%;

  
  }
}
@media (max-width: 550px) {
  .cart_listing_whole{
    margin-top:3rem;
  }
  .cart_listing{
    width: 120vh;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: -1;
    margin-top: 1%;
    overflow-y: scroll;
    max-width: 60%;
  }

}