.delivery_listing_whole{
    margin-top:3rem;
    margin-left: 15rem;
}
.delivery_listing{
    width: 130vh;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 10rem;
    margin-top: 1rem;
    overflow-y: scroll;

}
.image_profile_picture{
    max-width: 100%;
    height: auto;
    max-height: min-content;
}

.addDelivery:hover{
        color: green;
      }

      @media (max-width: 1240px) {
        .delivery_listing_whole{
            margin-top:10%;
            margin-left: 1%;
        }
        .delivery_listing{
            width: 130vh;
            height: 70vh;
            overflow: hidden;
            overflow-x: scroll;
            margin-left: 10rem;
            margin-top: 1rem;
            overflow-y: scroll;
        
        }
      
      }
      @media (max-width: 1150px) {
        .delivery_listing_whole{
            margin-top:10%;
            margin-left: 1%;
        }
        .delivery_listing{
            width: 130vh;
            height: 70vh;
            overflow: hidden;
            overflow-x: scroll;
            margin-left: 10rem;
            margin-top: 1rem;
            overflow-y: scroll;
        
        }
      }
      @media (max-width: 700px) {
        .delivery_listing_whole{
            margin-top:5%;
            margin-left: 1%;
        }
        .delivery_listing{
            width: 130vh;
            height: 70vh;
            overflow: hidden;
            overflow-x: scroll;
            margin-left: 10rem;
            margin-top: 1rem;
            overflow-y: scroll;
            max-width: 60%;
        
        }
      }
      @media (max-width: 550px) {
        .delivery_listing_whole{
            margin-top:10%;
            margin-left: 1%;
        }
        .delivery_listing{
            width: 130vh;
            height: 70vh;
            overflow: hidden;
            overflow-x: scroll;
            margin-left: 10rem;
            margin-top: 1rem;
            overflow-y: scroll;
            max-width: 45%;
        }
      }