.employee_listing_whole{
    margin-top:-3rem;
    margin-left: 10rem;
  }
  .employee_listing{
    
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 15rem;
    margin-top: 1rem;
    overflow-y: scroll;
  
  }
  .image_profile_picture{
    max-width: 100%;
    height: auto;
    max-height:fit-content;
}
.image_profile_picture:hover{
  transform: scale(5);
    overflow-x:visible;
    overflow-y: visible;
    z-index: 1000;
}
.image_profile_picture:hover .employee_listing{
  overflow-x: visible;
  overflow-y: visible;
}
.action_btn button+button{
  margin-left: 30px;
  background-color: transparent;
  
}
.action_btn  .edite{
  color: green;
  background-color: transparent;
}
.action_btn  .delete{
  color: red;
  background-color: transparent;
}
.addEmployee{
  margin-left: 61rem;
}
.addEmployee:hover{
  color: green;
}