.supplier_listing_whole{
  margin-top:3rem;
}
.supplier_listing{
    width: 135vh;
    height: 70vh;
    margin-left: 10rem;
    margin-top: 1rem;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;


}
.image_profile_picture{
    max-width: 100%;
    height: auto
}
.addSupplier:hover{
    color: green;
  }
  @media (max-width: 1240px) {
    .supplier_listing_whole{
      margin-top:3rem;
    }
    .supplier_listing{
        width: 135vh;
        height: 70vh;
        margin-left: 10rem;
        margin-top: 1rem;
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: scroll;
    
    
    }
  
  }
  @media (max-width: 1150px) {
    .supplier_listing_whole{
      margin-top:3rem;
    }
    .supplier_listing{
        width: 135vh;
        height: 70vh;
        margin-left: 10rem;
        margin-top: 1rem;
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: scroll;
    
    
    }
  }
  @media (max-width: 700px) {
    .supplier_listing_whole{
      margin-top:3rem;
    }
    .supplier_listing{
        width: 135vh;
        height: 70vh;
        margin-left: 10rem;
        margin-top: 1rem;
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: scroll;
    
    
    }
  
  
  
  }
  @media (max-width: 550px) {
    .supplier_listing_whole{
      margin-top:3rem;
    }
    .supplier_listing{
        width: 135vh;
        height: 70vh;
        margin-left: 10rem;
        margin-top: 1rem;
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: scroll;
    
    
    }  
  }